.hero-section {
    height: calc(100vh - 4rem);
  }
  
  .hero-section .container {
    height: 100%;
  }
  
  .hero-section .flex {
    height: 100%;
  }
  
  .hero-section h1 {
    max-width: 80%;
    line-height: 1.2;
  }
  
  .btn-primary {
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 9999px;
  }